*.log
*.bbl
*.blg
*.aux
*.new
*.backup
*.xml
*.out
*.odt
*.idv
*.html
*.kate-swp
*.tmp
*.xref
*.4ct
*.4tc
*.css
*.dvi
*.lg
*.tex~
*.bib~
*.gitignore~
*.Rhistory
FIGURES/TO_PUB/*
FMDV_AMERICA.bib~
FMDV_AMERICA.tex~
FMDV_AMERICA.pdf
Text_S2.pdf
Text_S1.pdf
FMDV_AMERICA-blx.bib
FMDV_AMERICA.docx
Text_S2.docx
Text_S2-blx.bib
Text_S2.rar
DATA/REPORTS/*
